main {
    max-width: 75%;
    margin: auto;
    text-align: center;
}

aside, article {
    max-width: 100%;
    margin: auto;
}

.bejegyzes-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.osszpontszam-table, .bejegyzes-table {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #dddddd;
}

table tr th, table tr td {
    padding: 5px;
}

@media screen and (max-width: 900px) {
    .bejegyzes-form {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }
    
    .bejegyzes-form select {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
}